body,div{
	margin: 0;
	padding: 0;
}
body{
	background:url(../img/1.jpg) center 0 no-repeat fixed;
	margin: 0;
	padding: 0;
	background-size:100% ;
	padding-top: 41px;
}
.hide{
	display:none;
}
.top{
	width: 100%;
	height: 41px;
	position: fixed;
	top: 0;
	background: #001e3b;
	z-index: 99;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.header{
	width: 960px;
	height: 200px;
	margin: 0 auto;
	background: rgba(255,255,255,0.2);
}
.container{
	width: 960px;
	margin: 0px auto;
	position: relative;
}
.scrubber{
	width: 47px;
	min-height: 200px;
	position: absolute;
	top: 29px;
	left: 0;
	z-index: 999;
	background: rgba(255,255,255,0.2);
}
.scrubber a{
	display: block;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	border-right: 2px solid #cbcbcb;
	/*border-right-color:rgba(200,200,200,0.5);*/
	padding-right: 5px;
	color:white;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	text-align:right;
}
.scrubber a:hover,
.scrubber .current{
	border-right-color: #7ebad0;
	color:#7ebad0 ;
	font-weight: bold;
}
.scrubber a:hover{
	text-decoration: underline;
}
.scrubber .current:hover{
	text-decoration: underline;
}
.content{
	background: url(../img/spine.png) repeat-y 121px 0;
    padding-top:50px;
    padding-left: 160px;
    position: relative;
}
.content-year,
.content-month{
	height: 30px;
	line-height: 30px;
	color: #a5a5a5;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	font-weight: bold;
	font-size: 14px;
	position: relative;
	left: -85px;
	clear: both;
}
.content-item{
	width: 370px;
	min-height: 300px;
	background: #FFFFFF;
	border-radius: 4px;
	margin: 20px 30px 0 0;
	position: relative;
	color: #888;
}
.content .first{
	margin-top: -20px;
}
.content-item-left{
	float: left;
}
.content-item-right{
	float: right;
}
.content-item-icon-arrow{
	position: absolute;
	left: -10px;
	top: 20px;
	height: 0;
	border-color: transparent #FFFFFF transparent  transparent  ;  
	border-width:10px 10px 10px 0px;
	border-style: dashed solid dashed dashed; 	
}
/*在右侧的点需要重新定义偏移量*/
.content-item-right .content-item-icon-dot{
	left: -443px;
}
.content-item-icon-dot{
	width: 11px;
	height: 11px;
	border-radius:50%;
	background: #fff;
	position: absolute;
	left: -43px;
	top: 25px;
}
.content-item-icon-dot-child{
	width: 7px;
	height: 7px;
	border-radius:50%;
	background: #b3dae9;
	position: absolute;
	left:2px;
	top:2px;
}
.content-item-head{
	padding: 15px;
	padding-bottom: 0px;
}
.content-item-head-title{
	height: 46px;
	line-height: 46px;
	font-size: 28px;
	padding: 0 0 10px 56px;
	position: relative;
}
.content-item-head-title-lunar{
	width: 46px;
	height: 46px;
	background: #B3DAE9;
	border-radius: 8px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #FFFFFF;
	font-size: 27px;
	line-height: 23px;
	font-weight: bold;
}
.content-item-head-intro{
	font-size: 14px;
	line-height: 22px;
	padding: 0 15px;
	margin-bottom:10px;
}
.content-item-footer{
	padding: 10px 15px;
	margin: 0 15px;
	border-top: 1px solid #d6d6d6;
	font-size: 12px;
	color:#b2b2b2;
	line-height: 20px;
}
.content-item-footer-info a{
	color: #B2B2B2;
	text-decoration: none;
	padding-right:18px;
	display: inline-block;
	height: 20px;
}
.icon-zan,
.icon-pinlun{
	width: 20px;
	height: 20px;
	background-repeat:no-repeat;
	display: inline-block;
	overflow: hidden;
	background: url(../img/timeline.png);
	vertical-align: bottom;
}
.icon-zan{
	background-position:-883px -21px;
}
.icon-pinlun{
	background-position:-905px -21px ;
}
.ui-icon{
	width: 15px;
	height: 15px;
	background-repeat:no-repeat;
	display: inline-block;
	overflow: hidden;
	background: url(../img/timeline.png);
	margin-right:5px;
}
.quote-after{
	background-position:-986px -102px;
}
.quote-before{
	background-position:-986px -85px;
}
